{
  "singleQuote": true,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^next/(.*)$", "^@mantine/(.*)$", "^@mdi/(.*)$", "^[./]"]
}
