# Basic dependabot.yml file with
# minimum configuration for two package managers

version: 2
updates:
  # Check for updates to NPM packages daily
  - package-ecosystem: "npm"
    directory: "/src/GZCTF/ClientApp"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "pdfjs-dist"

  # Check for updates to GitHub Actions workflows weekly
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 0
