<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
	  throwConfigExceptions="true"
      internalLogFile="./log/internal-log.log">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<!-- the targets to write to -->
	<targets async="true">
		<target xsi:type="Database"
				name="logdatabase">
			<connectionString>${var:connectionString}</connectionString>
			<commandText>
				INSERT INTO [dbo].[Logs]
				(TimeUTC,  Level,  Logger,  RemoteIP, UserName, Status,  Message, Exception)
				VALUES
				(@time, @level, @logger, @ip,      @uname,   @status, @msg,    @except)
			</commandText>
			<parameter name="@time " layout="${longdate:universalTime=true}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@ip" layout="${event-properties:item=ip}" />
			<parameter name="@uname" layout="${event-properties:item=uname}" />
			<parameter name="@status" layout="${event-properties:item=status}" />
			<parameter name="@msg" layout="${message}" />
			<parameter name="@except" layout="${exception}" />
		</target>

		<target xsi:type="Console"
				name="logconsole"
				layout="[${longdate}] [${uppercase:${level}}] ${logger}: ${message} ${exception:format=tostring} - ${event-properties:item=uname} @ ${event-properties:item=ip}" />

		<target xsi:type="File"
				name="logfile"
				fileName="./log/${shortdate}/latest.log"
				archiveAboveSize="262144"
				maxArchiveDays="3"
				archiveFileName="./log/${shortdate}/archive_{####}.log"
				layout="[${longdate}] [${uppercase:${level}}] ${logger}: ${message} ${exception:format=tostring} - ${event-properties:item=uname} @ ${event-properties:item=ip}" />

		<target xsi:type="SignalR" name="signalr" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="Microsoft.*" maxLevel="Warning" final="true" />
		<logger name="Microsoft.AspNetCore.SpaServices" minLevel="Trace" final="true" />
		<logger name="AspNetCoreRateLimit.*" maxLevel="Warning" final="true" />
		<logger name="*" minlevel="Trace" writeTo="signalr">
			<filters>
				<when condition="contains('${exception:format=Type}', 'System.OperationCanceledException')"
						action="Ignore" />
			</filters>
		</logger>
		<logger name="*" minlevel="Trace" writeTo="logdatabase">
			<filters>
				<when condition="contains('${exception:format=Type}', 'System.OperationCanceledException')"
						action="Ignore" />
			</filters>
		</logger>
		<logger name="*" minlevel="Trace" writeTo="logfile" final="true">
			<filters>
				<when condition="contains('${exception:format=Type}', 'System.OperationCanceledException')"
						action="Ignore" />
			</filters>
		</logger>
	</rules>
</nlog>