@keyframes spike {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.8;
  }
}

.spike {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 200%;
  z-index: 91;
  animation: spike 2s linear 0s infinite alternate;

  filter: light-dark(brightness(0.8) saturate(0.5), brightness(1.2) saturate(0.8));

  &[data-blood] {
    display: block;
    background: linear-gradient(0deg, #fff0, var(--blood-color), #fff0);
  }
}

.root[data-solved] {
  filter: light-dark(brightness(0.9), brightness(0.8));
}
