.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;

  background-color: transparent;
  border: 2px dashed var(--dot-color);
  opacity: 0.5;
}

.dot[data-granted] {
  border: none;
  background-color: var(--dot-color);
  opacity: 1;
}
