.container {
  height: calc(100vh - 16px);
  gap: var(--mantine-spacing-xl);
  padding: var(--mantine-spacing-xl);
}

.container[data-mobile='true'] {
  height: auto;
  gap: var(--mantine-spacing-lg);
  padding: var(--mantine-spacing-md);

  .mainIcon {
    width: 3rem;
    height: 3rem;
  }

  .mainTitle {
    font-size: 2.5rem;
  }

  .slogan {
    display: none;
  }

  .contentFlex {
    gap: var(--mantine-spacing-lg);
    flex-direction: column;
  }

  .contentStack {
    min-width: 100%;
    max-width: 100%;
  }

  .contributorsGroup {
    gap: var(--mantine-spacing-xs);
  }

  .contributorLink {
    font-size: var(--mantine-font-size-sm);
  }

  .resourceLink {
    font-size: var(--mantine-font-size-sm);
  }

  .licenseText {
    font-size: var(--mantine-font-size-xs);
  }

  .licenseLink {
    font-size: var(--mantine-font-size-sm);
  }

  .versionBadge {
    font-size: var(--mantine-font-size-md);
  }

  .copyright {
    max-width: 90%;
  }
}

.copyright {
  max-width: 100%;
  font-size: var(--mantine-font-size-sm);

  &::after {
    content: 'All Rights Reserved.';
    display: block;
    margin-top: var(--mantine-spacing-xs);
  }
}
