.root {
  cursor: pointer;
  transition:
    box-shadow 0.2s,
    filter 0.2s;

  @mixin hover {
    @mixin light {
      filter: brightness(1.04) !important;
      box-shadow: 0 0 12px var(--mantine-color-gray-2);
    }

    @mixin dark {
      filter: brightness(1.2) !important;
      box-shadow: 0 0 12px var(--mantine-color-gray-7);
    }
  }
}
