@keyframes spikeBlinking {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}

.spikes-group > div {
    animation: 2s linear 0s infinite alternate spikeBlinking;
}

.progress-pulse-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes progressing {
    0% {
        width: 0%;
    }
    80% {
        opacity: 1;
        width: 100%;
    }
    100% {
        opacity: 0;
        width: 100%;
    }
}

.progress-pulse-container > div {
    width: 25%;
    height: 100%;
    animation: 2s linear 0s infinite normal progressing;
}


